*~
\#*\#
*/.emacs.desktop
*/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

.org-id-locations
*_archive

straight
tree-sitter
transient
projectile-bookmarks.eld

.dir-locals.el
history
.lsp-session-v1
.cache
projects
eln-cache